/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

#searchInput {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.directory-list {
    list-style-type: none;
    padding-left: 20px;
}

.directory {
    margin-bottom: 10px;
}

.folder-name {
    font-weight: bold;
    font-size: 1.2em;
}

.file-list {
    list-style-type: none;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

a:hover {
    color: #0056b3;
}
